VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_FIREBASE_API_KEY="AIzaSyCsiTbzC4aUKToRaFRrRwyYsNJMyTO58R4"
VITE_FIREBASE_AUTH_DOMAIN="mediamind-ai-11a91.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mediamind-ai-11a91"
VITE_FIREBASE_STORAGE_BUCKET="mediamind-ai-11a91.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="241923240065"
VITE_FIREBASE_APP_ID="1:241923240065:web:3a2677f2398b46d4db1d80"
VITE_FIREBASE_MEASUREMENT_ID="G-BM1LYKGS4G"
